<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lzm.com.androidgitdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GridViewActivity" />
        <activity android:name=".activity.tabHost.TabHostActivity" />
        <activity android:name=".activity.tabHost.TabHostActivityOne" />
        <activity android:name=".activity.tabHost.TabHostActivityTwo" />
        <activity android:name=".activity.tabWidget.TabWidgetActivity" />
        <activity android:name=".activity.drawerLayout.DrawerLayoutActivity" />
        <activity android:name=".activity.treeView.AndroidTreeViewActivity" />
        <activity android:name=".activity.iconFont.IconFontActivity" />
        <activity android:name=".activity.treeView.AndroidTreeViewActivity2" />
        <activity android:name=".activity.database.DataBaseActivity"></activity>
    </application>

</manifest>